.navbar1 {
    background: rgb(12, 46, 50);
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;}
body {
    background-color: rgb(167, 186, 193);
    margin: 0;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;}
.search {
    height: 10px;
    margin-right: 25px;
    margin-block: 25px;}
footer {
    clear: both;
    height: 200px;
  padding-block-start: 5%;
    color: rgb(0, 43, 39);
    text-align: center;
    background-image: url(images/footer.jpg);
    background-size: 100% 100%;
    font-family: 'Roboto', sans-serif;}
div.gallery {
    border-radius: 10% 10% 10% 10%;
    border: 1px solid #ccc;}
div.gallery:hover {
    border: 1px solid #777;}
div.gallery img {
    border-radius: 10% 10% 0% 0%;
    width: 380px;
    height: 200px;}
div.desc {
    padding: 30px;
    text-align: center;}
.responsive {
    border-radius: 10% 10% 0% 0%;
    margin-left: 8%;
    margin-right: 2%;
    float: left;
    width: 380px;
    }

h1 {
    text-align: left;
    font-size: 30px;
    color: rgb(12, 46, 50);
    font-weight: bold;
    padding-left: 90px;}
.h2 {
    text-align: left;
    font-weight: bold;
    font-size: 60px;
    padding-top: 100px;
    color: rgb(12, 46, 50);
}
    
.h3 {
    text-align: left;
    padding-top: 30px;
    color: white;
    font-size: 70px;
    padding-bottom: 100px;
    font-family: 'Permanent Marker';}

.Paraphraph4 {
    padding-left: 130px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: rgb(0, 43, 39);}
#activityname,#description,#caption,#location,#price,#link,#category {
    color: rgb(100, 100, 100);
    width: 97%;
    height: 50px;
    margin-bottom: 15px;
    margin-bottom: 15px;}
form {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;}
#body_places {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgb(0, 43, 39);
    background-color: rgb(255, 255, 255);}
.Paraphraph {
    text-align: left;
    color: rgb(0, 43, 39);
    padding-left: 90px;}
.red-star {
    font-family: 'Roboto', sans-serif;
    color: red;
    font-size: 15px;}
.second {
    display: inline;
    font-family: 'Roboto', sans-serif;}
.forth {
    display: inline-block;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;}

.input-group {
    padding-left: 25%;
    width: 102%;}
.Div_P {
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;}
  .buttoncolor{
    background-color: rgb(0, 43, 39);
    color: white;
  }
  