.navbar1 {
    background: rgb(12, 46, 50);
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;}
a:active {
    color: white;}
ul a {
    text-align: left;
    text-decoration: none;
    color: rgb(167, 186, 193);
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;}
.logo {
    margin-right: 25px;}
.list-details {
    padding-left: 70px;
    display: flex;
    justify-content: space-between;}
.list-details2 {
    margin-left: 50px;
    transform: translate(20px, 0px);
    display: flex;
    justify-content: space-between;}
.left-side-details {
    float: left;
    padding-left: 10px;
    padding-top: 120px;}
.right-side-details {
    padding-top: 150px;}
.Image-details {
    width: 500px;
    height: 300px;
    padding-left: 60px;}
body {
    background-color: rgb(167, 186, 193);
    margin: 0;
    font-family: 'Roboto', sans-serif;}
.icone {
    width: 30px;
    height: 25px;}
.search {
    height: 10px;
    margin-right: 25px;
    margin-block: 25px;}
footer {
    clear: both;
    height: 90px;
    color: rgb(0, 43, 39);
    text-align: center;
    background-color: rgb(167, 186, 193);
    font-family: 'Roboto', sans-serif;}
div.gallery {
    border-radius: 10% 10% 10% 10%;
    border: 1px solid #ccc;}
div.gallery:hover {
    border: 1px solid #777;}
div.gallery img {
    border-radius: 10% 10% 0% 0%;
    width: 450px;
    height: 250px;}
div.desc {
    padding: 30px;
    text-align: center;}
.responsive {
    transform: translateY(2%);
    border-radius: 10% 10% 0% 0%;
    margin-left: 6%;
    margin-right: 2%;
    float: left;
    width: 450px;
    height: 350px;}
h1 {
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    padding-left: 90px;}
.h2 {
    text-align: left;
    padding-top: 190px;
    font-weight: bold;
    font-size: 60px;}
.h3 {
    text-align: left;
    padding-top: 50px;
    color: white;
    font-size: 70px;
    font-family: 'Permanent Marker';}
#Paraphraph4 {
    padding-left: 130px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;}
#activityname,
#description,
#caption,
#location,
#price,
#link,
#category {
    color: rgb(100, 100, 100);
    width: 97%;
    height: 50px;
    margin-bottom: 15px;
    margin-bottom: 15px;}
form {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;}
#body_places {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgb(0, 43, 39);
    background-color: rgb(255, 255, 255);}
#Paraphraph {
    text-align: left;
    padding-left: 90px;}
.red-star {
    font-family: 'Roboto', sans-serif;
    color: red;
    font-size: 15px;}
#second {
    margin-top: 40px;
    display: inline;
    font-family: 'Roboto', sans-serif;}
#forth {
    margin-top: 40px;
    display: inline-block;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;}
.carousel-indicators {
    transform: translateX(-10%) translateY(140%);}
.carousel {
    transform: translateY(10%);}
.btn2 {
    background-color: rgb(0, 43, 39);
    border-radius: 5px;
    color: #FFFFFF;
    width: 90px;
    height: 40px;
    font-weight: bold;
    text-align: center;}
.form-select {
    width: 107%;}
.input-group {
    padding-left: 25%;
    width: 102%;}
.Div_P {
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;}